MONGODB_URL=mongodb+srv://<user>:<password>@cluster0-z7vlo.mongodb.net/bossabox?retryWrites=true
MONGODB_URL_TEST=mongodb+srv://<user>:<password>@cluster0-z7vlo.mongodb.net/bossabox_test?retryWrites=true
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBAIdYWV4lt6tCry+Jkc1UxZ7Q9Ssfp/uto6NypLr/9SPBqSmJGUqW\nR3qBZYZxww96WGHs3RbifQ0p0cr4ZpPoDfECAwEAAQJBAIOLCtDGN8zr8vhw7JR0\nX94LmT1gdxPVn8WsFw7o1oj4rjNtzqCgPoN1EdFNoe7/YKxsEJKJkubr41rzVKZD\nVkECIQDmSGnbTBqd+Zg/17x/QzJbMWD6gs9nPn01mXyxo5a7gwIhAJZ1v3urVzRS\n+3P7Gusy19d1jy0+HycafsiJXKYcJFJ7AiA4ZIlPw75M61+GWt11SM5fGKOIFVqX\nDO16n8Cye74g4wIhAI4lAdk5P3Kcbxjcg0ruxsG0O6bXiKDtxBd6xj/cWGhfAiB8\nuzHwdIoG5owKRNPbsOZo3NsTjE5t1s3W+hJVFAH9AA==\n-----END RSA PRIVATE KEY-----"
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAIdYWV4lt6tCry+Jkc1UxZ7Q9Ssfp/ut\no6NypLr/9SPBqSmJGUqWR3qBZYZxww96WGHs3RbifQ0p0cr4ZpPoDfECAwEAAQ==\n-----END PUBLIC KEY-----"
REFRESH_TOKEN_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBAKtz9i6lV8Yq+Ba8DD9Fkv8lMGwb3vst2rU2VP2VtBMhgOb6/1e5\nEJLQl1mX+JlVYhi/8Tgjcx2V/QpXE3awVU8CAwEAAQJAF/NcCYoZZ9pqy6o7P791\nWGUWjZObI5V1Puk3GDGIdT92OOcaActhZemiUC2MFO94/qujFIZj9mq16j1BlpYH\nUQIhAP8kph1X5f1ZuLswQagzLPQ2Mulx9U+N0LHM6LH7r0MpAiEArAdc4flpAa6e\nxkWVZBlwtxZ11AKmltuddyvIJXoCG7cCIQCRwh4kJVL+qYMfbTIVJSdJXK05MCE0\nkY/oA2fsRhyaAQIgHk1NtyBPttQjc5leLzur9xQlvSqaXYhhvFQh9TgAlxECIQDH\n1sO8rTqWI4+ZJJAojqv4n768ZCJAkJwwie+qSlWPGw==\n-----END RSA PRIVATE KEY-----"
REFRESH_TOKEN_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKtz9i6lV8Yq+Ba8DD9Fkv8lMGwb3vst\n2rU2VP2VtBMhgOb6/1e5EJLQl1mX+JlVYhi/8Tgjcx2V/QpXE3awVU8CAwEAAQ==\n-----END PUBLIC KEY-----"